.searchHeader {
    padding: 1rem;
    border-bottom: 1px solid #797979;
    box-shadow: 0px 0px 4px #0000004d, 0px -1px 0px 0px #d9d9d9 inset;
    background: inherit;
    background-color: #eff4f9
    ;
}


.font1_5 {
    font-size: 1.5rem !important;
}
.font1_25{
    font-size: 1.25rem !important;
}
.font1_5 .sapMLabel {
    font-size: 1.5rem !important;
}
.font1_2 {
    font-size: 1.2rem !important;
}

.font1_2 .sapMLabel {
    font-size: 1.2rem !important;
}

.font1 {
    font-size: 1rem !important;
}

.font1 .sapMLabel {
    font-size: 1rem !important;
}

.calcBtn .sapMBtnInner {
    border: 1px solid #0A6ED1;
    color: #0A6ED1;
    font-weight: bold;
}

.pageMsg {
    font-size: 2rem !important;
    color: #6A6D70;
}

.TableMsgStrip {
    background-color: transparent !important;
    border-radius: 1rem !important;
    padding: 0rem 1rem !important;
}

.BlueBtn .sapMBtnInner {
    background-color: #0a6ed1 !important;
    border-color: #0a6ed1 !important;
}

.paddingTable {
    padding-left: 2rem;
    padding-right: 2rem;
}

.GrayBack {
    background-color: #f2f2f2 !important;
}
.BlueText {
    color:  #0854a1
}
.TextBold {
    font-weight: bold;
}

.BoxBorder {
    padding-bottom: 3.5rem;
    border-bottom: 1px solid #d7d7d7;
}
.processFlow .sapSuiteUiCommonsMicroProcessFlowItemSeparatorWrapper {
    width: 0.5rem !important;
}
.Iconbtn1_2 .sapMBtnIcon {
    font-size: 1.2rem;
}
.Iconbtn1_2 {
    font-size: 1.2rem;
}
.GreenIcon .sapMBtnIcon {
    color:  #038810 !important;
}
.BlueIcon .sapMBtn .sapMBtnIcon {
    color:   #0854a0 !important;
}
.itemsTable .sapUiTableHeaderRow {
    background-color: #f2f2f2 !important;
    border-bottom: 1px solid gray !important;
    
}
.itemsTable .sapUiTableCell.sapUiTableHeaderCell {
    border-left: none !important;
    
}
.itemsTable .sapUiTableHeaderRow .sapMLabel {
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
}
.BigBlackLabel {
    color: black !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
}
.RedText {
    color: #d9001b !important;
}
.TableToobar {
    height: 3.75rem !important;
    border-bottom: none !important;
}
.BorderBottomGray2 {
    border-bottom: 2px solid gray;
}
.BorderBottomGray1 {
    border-bottom: 1px solid #d7d7d7;
}
.paddingB2 {
    padding-bottom: 2rem;
}
.tableToolBar {
    border-bottom: none;
}
.MainTable {
    padding-right: 2rem;
    padding-left: 5rem;
}
.NoneGaryHighlight .sapUiTableRowHighlight.sapUiTableRowHighlightNone {
    background-color:  #89919a;

}
.WarningColor.sapMObjStatusWarning .sapMObjStatusText{
    color: #5899da !important;
}
.WarningColor2 .sapUiTableRowHighlight.sapUiTableRowHighlightWarning {
    background-color: #5899da !important;
}
.objectStatBold.sapMObjStatus .sapMObjStatusText {
    font-weight: bold !important;
}
